<!-- Theme Canvas -->

<div class="tc--main">
  {#if editing}
    <div
      class="tc--adaptive-container"
      style="width: {baseWidth}px; transform: scale({scale}, {scale}); flex: 1 0 {baseWidth}px;"
      ref:container>
      {@html markup}
    </div>
  {:else}
    <h1 class="tc--no-theme-msg">
      {$locale.teCanvasSelectTheme}
    </h1>
  {/if}
</div>

{#if editing}
  {#each controls as ctl}
    <div
      class="tc--control"
      class:tc--control-active="selecting && control.region === ctl.region"
      style="left: {ctl.x}px; top: {ctl.y}px;"
      on:click="showSelection(ctl)">
      <i
        class="fa"
        class:fa-pencil="regionMapping[ctl.region] != null"
        class:fa-cog="regionMapping[ctl.region] == null">
      </i>
    </div>
  {/each}
{/if}

{#if editing && selecting}
  <div
    class="tc--selection-wrap"
    style="left: {control.x + 2}px; top: {control.y}px;">
    <div
      class="tc--selection"
      class:tc--selection-hard-right="fields.length < 2 && regionMapping[control.region] == null"
      ref:tcSelection>
      {#each fields as field, index}
        <div
          class="tc--option"
          class:tc--option-active="control && regionMapping[control.region] === index"
          on:click="selectField(control.region, index)">
          <i class="fa fa-check"></i>
          <span>{field.name}</span>
        </div>
      {:else}
        <div
          class="tc--option tc--option-active tc--option-no-fields">
          <i class="fa fa-exclamation-triangle"></i>
          <span>{$locale.teCanvasNoFieldsMessage}</span>
        </div>
      {/each}
      {#if fields.length && regionMapping[control.region] != null}
        <div
          class="tc--option tc--option-active"
          on:click="resetField(control.region)">
          <i class="fa fa-times"></i>
          <span>{$locale.teCanvasResetField}</span>
        </div>
      {/if}
    </div>
  </div>
{/if}

<style lang="scss">
  @import "https://fonts.googleapis.com/css?family=Roboto:100,300,400,900";

  :global(html) {
    padding: 0;
    margin: 0;
  }

  :global(body) {
    padding: 0;
    margin: 0;

    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;

    font-size: 16px;

    &.tc--editing-body {
      align-items: flex-start;
    }
  }

  :global(body), .tc--main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tc--main {
    position: relative;
    width: 100%;
    min-height: 100%;
  }

  .tc--no-theme-msg {
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  }

  .tc--adaptive-container {
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: 0 0 !important;
  }

  $ctl-size: 43px;
  $b-radius: $ctl-size / 2;

  .tc--control {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: $ctl-size;
    height: $ctl-size;
    box-sizing: border-box;

    font-size: 0.85rem;
    border-radius: $b-radius;
    border: 2px solid #fff;
    color: #fff;
    background: #000;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    transition: transform 250ms ease;
    cursor: pointer;

    &:hover:not(.tc--control-active) {
      transform: scale(1.2, 1.2);
    }

    &.tc--control-active {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    i {
      position: relative;
      top: -1px;
    }
  }

  .tc--selection-wrap {
    position: absolute;
  }

  .tc--selection {
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;

    border-radius: $b-radius;
    border-top-right-radius: 0;
    background: #000;
    border: 2px solid #fff;
    font-family: Roboto;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

    &.tc--selection-hard-right {
      border-bottom-right-radius: 0;
    }

    .tc--option {
      padding: 0.65rem;
      padding-right: 1rem;
      min-width: 100px;
      white-space: nowrap;

      font-size: 1rem;
      border-bottom: 2px solid #fff;
      cursor: pointer;

      &:last-child {
        border: 0;
      }

      &:hover:not(.tc--option-no-fields) {
        color: #000;
        background: #fff;
      }

      &.tc--option-active {
        .fa {
          opacity: 1;
        }
      }

      .fa {
        margin-right: 0.5rem;
        opacity: 0;
      }
    }
  }
</style>

<script>
  export default {
    oncreate() {
      const that = this;

      // Callback to close selection when you click outside
      function defocusSelection() {
        function close(e) {
          let target = e.target;

          while (target !== document.body) {
            // Not sure what element this applies to, but it happened
            // when I clicked an empty space (presumably <html>) in
            // Firefox Nightly 65.0a1 (2018-11-26) (64-bit)
            if (target && target.classList === undefined) {
              break;
            }

            // When Reset Field button is removed from the list
            // its parentNode property becomes null. It's in
            // of tc--selection so it's part of the list
            if (!target
                || target === that.refs.tcSelection
                || target.classList.contains("tc--control")) {
              return;
            }

            target = target.parentNode;
          }

          that.set({
            selecting: false,
          });
          window.removeEventListener("click", close);
        }

        window.addEventListener("click", close);
      }

      this.on("state", ({ changed, current }) => {
        // Show adaptive adaptive container to start editing
        if (changed.editing) {
          const className = "tc--editing-body";

          if (current.editing) {
            document.body.classList.add(className);
          } else {
            document.body.classList.remove(className);
          }
        }

        // Update regionMapping to reflect new change to controls
        if (changed.controls) {
          const regionMapping = current.regionMapping;

          if (!Object.keys(regionMapping).length) {
            for (let i=0; i<current.controls.length; i++) {
              regionMapping[current.controls.region] = null;
            }
          }

          this.set({
            regionMapping,
          });
        }
      });

      this.on("update", ({ changed, current }) => {
        // Update control buttons to reflect new markup
        if (changed.markup && current.editing) {
          const controls = Array.from(document.querySelectorAll("[data-theme-editor-region]"));
          const controlBtns = [];
          const margin = 10;
          const controlSize = 43;

          // Map control buttons to the original control DOM elements
          for (const ctl of controls) {
            const id = ctl.dataset.themeEditorRegion;
            const geo = ctl.getBoundingClientRect();

            // Don't let the control go offscreen beyond the right viewport boundary
            const x = Math.min(geo.right + margin, innerWidth - (margin + controlSize));

            controlBtns.push({
              x,
              y: geo.top,
              region: id,
            });
          }

          this.set({
            controls: controlBtns,
          });
        }

        // Since we're showing the selection box add a listner to close
        // it when you click outside it (blur behaviour)
        if (changed.selecting && current.selecting) {
          setTimeout(() => {
            defocusSelection();
          }, 1);
        }
      });
    },

    data() {
      return {
        editing: false,
        selecting: false,
        fields: [],
        regionMapping: {},
        control: {},
        controls: [
          // {
          //   x: 0,
          //   y: 0,
          //   region: 0,
          // }
        ],
        markup: "",
      };
    },

    computed: {
      scale: ({ baseWidth }) => innerWidth / baseWidth,
    },

    methods: {
      showSelection(control) {
        this.set({
          control,
          selecting: true,
        });
      },

      selectField(region, fieldIndex) {
        const { regionMapping } = this.get();

        regionMapping[region] = fieldIndex;

        this.set({
          regionMapping,
        });
      },

      resetField(region) {
        const { regionMapping } = this.get();

        regionMapping[region] = null;

        this.set({
          regionMapping,
        });
      }
    },
  }
</script>
