// compressedFilenamePattern: checkout-modal.css

$width: 320px / 2;
$height: 150px;
$hour-size: 110px;
$hour-input-size: 110px;

@mixin base-doc-font {
  font: {
    size: 13px;
  }
}

@mixin faint-border($orient) {
  $faint-style: 1px solid #ddd;
  @if $orient {
    border-#{ $orient }: $faint-style;
  } @else {
    border: $faint-style;
  }
}

.ihfath-checkout-modal {
  z-index: 1000;
  position: absolute;
  width: $width;
  height: $height;
  box-sizing: content-box;
  
  background: #fff;
  // border: 2px solid #028000;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 0px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8);
  
  overflow: hidden;
}

.ihfath-cm-column {
  display: inline-block;
  vertical-align: top;
  width: $width;
  height: 100%;
  overflow: hidden;
  
  @include base-doc-font;
}

.ihfath-cm-program-list { 
  display: none;
  overflow: auto;
  @include faint-border(right);
  
  background: #ddd;
  
  .ihfath-cm-program-item {
    padding: 10px 5px;
    @include faint-border(bottom);
    
    font-weight: bold;
    background: #fff;
    cursor: pointer;
    
    &.ihfath-cm-selected {
      background: #A9BF04;
      border-color: #A9BF04;
      color: #fff;
    }
    
    & + .ihfath-cm-selected {
      border-color: #A9BF04;
    }
  }
}

.ihfath-cm-hour-top {
  position: relative;
  height: $hour-size;
  
  input.ihfath-hours-input {
    display: inline-block;
    vertical-align: top;
    width: $hour-input-size;
    height: $hour-size;
    
    font-size: 30px;
    font-weight: bold;
    font-family: Arial;
    text-align: center;
    border: 0px;
  }
  
  .ihfath-cm-hour-caption {
    position: absolute;
    z-index: 10;
    left: 0px;
    top: 0px;
    width: $hour-input-size;
    height: $hour-size;
    
    text-align: center;
    font-size: 12px;
    opacity: 0.6;
    
    pointer-events: none;
    
    span {
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      
      padding-bottom: 10px;
    }
  }
  
  .ihfath-cm-hour-btns {
    display: inline-block;
    vertical-align: top;
    height: $hour-size;
    width: ($width) - $hour-input-size;
    
    .ihfath-cm-hour-btn {
      height: $hour-size / 2;
      box-sizing: border-box;
      
      line-height: $hour-size / 2;
      font-size: 18px;
      text-align: center;
      
      cursor: pointer;
      
      // Button separator
      &:first-child {
        // border-bottom: 1px solid rgba(0, 0, 0, 0.1333333333333333);
        border-bottom: 1px solid #93A603;
      }
      
      &:hover {
        background: #91A500;
      }
    }
  }
}

.ihfath-cm-hour-bottom {
  height: $height - $hour-size;
  width: $width;
  
  font-size: 0px;
  
  $negate-height: $height - $hour-size;
  
  > div {
    vertical-align: top;
    border-top: 1px solid rgba(0, 0, 0, 0.1333333333333333);
    background: #f4524d;
    
    font-size: 15px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,.15);
    
    cursor: pointer;
    
    &:hover {
      background: #f11f18;
    }
  }
  
  .ihfath-cm-clear-btn {
    display: inline-block;
    width: $hour-input-size;
    height: $negate-height;
    
    text-align: center;
    line-height: $negate-height;
  }
  
  .ihfath-cm-close-btn {
    display: inline-block;
    width: ($width) - $hour-input-size;
    height: $negate-height;
    
    text-align: center;
    border-left: 1px solid rgba(0, 0, 0, 0.1333333333333333);
    line-height: $negate-height;
    
    font-size: 30px;
  }
}
