.ihfath-checkout-modal {
  z-index: 1000;
  position: absolute;
  width: 160px;
  height: 150px;
  box-sizing: content-box;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 0px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8);
  overflow: hidden; }

.ihfath-cm-column {
  display: inline-block;
  vertical-align: top;
  width: 160px;
  height: 100%;
  overflow: hidden;
  font-size: 13px; }

.ihfath-cm-program-list {
  display: none;
  overflow: auto;
  border-right: 1px solid #ddd;
  background: #ddd; }
  .ihfath-cm-program-list .ihfath-cm-program-item {
    padding: 10px 5px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    background: #fff;
    cursor: pointer; }
    .ihfath-cm-program-list .ihfath-cm-program-item.ihfath-cm-selected {
      background: #A9BF04;
      border-color: #A9BF04;
      color: #fff; }
    .ihfath-cm-program-list .ihfath-cm-program-item + .ihfath-cm-selected {
      border-color: #A9BF04; }

.ihfath-cm-hour-top {
  position: relative;
  height: 110px; }
  .ihfath-cm-hour-top input.ihfath-hours-input {
    display: inline-block;
    vertical-align: top;
    width: 110px;
    height: 110px;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial;
    text-align: center;
    border: 0px; }
  .ihfath-cm-hour-top .ihfath-cm-hour-caption {
    position: absolute;
    z-index: 10;
    left: 0px;
    top: 0px;
    width: 110px;
    height: 110px;
    text-align: center;
    font-size: 12px;
    opacity: 0.6;
    pointer-events: none; }
    .ihfath-cm-hour-top .ihfath-cm-hour-caption span {
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      padding-bottom: 10px; }
  .ihfath-cm-hour-top .ihfath-cm-hour-btns {
    display: inline-block;
    vertical-align: top;
    height: 110px;
    width: 50px; }
    .ihfath-cm-hour-top .ihfath-cm-hour-btns .ihfath-cm-hour-btn {
      height: 55px;
      box-sizing: border-box;
      line-height: 55px;
      font-size: 18px;
      text-align: center;
      cursor: pointer; }
      .ihfath-cm-hour-top .ihfath-cm-hour-btns .ihfath-cm-hour-btn:first-child {
        border-bottom: 1px solid #93A603; }
      .ihfath-cm-hour-top .ihfath-cm-hour-btns .ihfath-cm-hour-btn:hover {
        background: #91A500; }

.ihfath-cm-hour-bottom {
  height: 40px;
  width: 160px;
  font-size: 0px; }
  .ihfath-cm-hour-bottom > div {
    vertical-align: top;
    border-top: 1px solid rgba(0, 0, 0, 0.133333);
    background: #f4524d;
    font-size: 15px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer; }
    .ihfath-cm-hour-bottom > div:hover {
      background: #f11f18; }
  .ihfath-cm-hour-bottom .ihfath-cm-clear-btn {
    display: inline-block;
    width: 110px;
    height: 40px;
    text-align: center;
    line-height: 40px; }
  .ihfath-cm-hour-bottom .ihfath-cm-close-btn {
    display: inline-block;
    width: 50px;
    height: 40px;
    text-align: center;
    border-left: 1px solid rgba(0, 0, 0, 0.133333);
    line-height: 40px;
    font-size: 30px; }
