/* Mock Specific Styles */

/* Fill indicator */
#ihfath-checkout-schedule-root .cellidi-cell div.ihfath-fill-indicator {
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 0%;

  background: #1771C1;
  opacity: 1;
}

#ihfath-checkout-schedule-root .cellidi-cell.ihfath-full div.ihfath-fill-indicator {
  height: 100%;
}

#ihfath-checkout-schedule-root .cellidi-cell.ihfath-half-full .ihfath-fill-indicator {
  height: 50%;
}

/* Selection indicator */
#ihfath-checkout-schedule-root .cellidi-cell div.ihfath-selection-indicator {
  position: absolute;
  display: none;
  z-index: 10;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

  border: 5px solid #0486BF;
}

#ihfath-checkout-schedule-root .cellidi-cell.ihfath-cell-selected div.ihfath-selection-indicator {
  display: block;
}

/* Cell */

.cellidi-cell {
  position: relative;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.cellidi-cell.ihfath-empty-cell {
  font-weight: normal;
}

.ihfath-time,
.ihfath-time-meta {
  display: none;
}

.cellidi-dead-cell .ihfath-time,
.cellidi-dead-cell .ihfath-time-meta {
  display: inline !important;
}

.cellidi-cell.ihfath-empty-cell .ihfath-time,
.cellidi-cell.ihfath-empty-cell .ihfath-time-meta {
  display: inline;
}

.ihfath-lesson-details {
  position: relative;
  z-index: 100;
}

.cellidi-cell.ihfath-empty-cell .ihfath-lesson-details {
  display: none;
}

.cellidi-dead-cell {
  cursor: default;
}

/* Ihfath Base Styles */
#ihfath-checkout-schedule-root .cellidi-cell {
  position: relative;

  border-right: 2px solid #fff;
  background: #fff;
}

#ihfath-checkout-schedule-root .cellidi-cell.ihfath-empty-cell,
#ihfath-checkout-schedule-root .cellidi-cell.ihfath-full-cell {
  font-weight: bold;
}

#ihfath-checkout-schedule-root .cellidi-cell span.ihfath-time-meta {
  font-weight: normal;
  font-size: 0.75em;
}

#ihfath-checkout-schedule-root .cellidi-cell.ihfath-empty-cell {
  color: #B3B3B3;
}

#ihfath-checkout-schedule-root .cellidi-dead-cell:not(.ihfath-booked-cell):not(.ihfath-user-booked-cell) {
  opacity: 0.35;
}

#ihfath-checkout-schedule-root .cellidi-dead-cell:not(.ihfath-booked-cell):not(.ihfath-user-booked-cell) span {
  opacity: 0.25;
}

/* BOOKED/VACANT CELL */

#ihfath-checkout-schedule-root .cellidi-cell.ihfath-booked-cell.cellidi-dead-cell,
#ihfath-checkout-schedule-root .cellidi-cell.ihfath-user-booked-cell.cellidi-dead-cell,
#ihfath-checkout-schedule-root .cellidi-cell:not(.cellidi-dead-cell) {
  background: #fff;
  color: #fff;
}

/* BOOKED CELL */

#ihfath-checkout-schedule-root .ihfath-booked-cell::after,
#ihfath-checkout-schedule-root .ihfath-user-booked-cell::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;

  opacity: 1;
  background: #f4524d;

  pointer-events: none;
}

#ihfath-checkout-schedule-root .ihfath-user-booked-cell::after {
  background: #737373;
}

#ihfath-checkout-schedule-root .cellidi-cell * {
  position: relative;
  z-index: 15;
}

/* VACANT CELL */

#ihfath-checkout-schedule-root .cellidi-cell:not(.cellidi-dead-cell) {
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.85);
}

#ihfath-checkout-schedule-root .cellidi-cell:not(.cellidi-dead-cell)::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;

  opacity: 0.65;
  background: #1CB801;

  pointer-events: none;
}

#ihfath-checkout-schedule-root .cellidi-cell:not(.cellidi-dead-cell):hover {
  z-index: 10;
}

#ihfath-checkout-schedule-root .cellidi-cell:not(.cellidi-dead-cell):hover::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;

  outline: 2px solid #444; /*#A9BF04;*/
  pointer-events: none;
}

#ihfath-checkout-schedule-root .cellidi-cell.ihfath-cell-checker {
  background: #E6E6E6;
}

#ihfath-checkout-schedule-root .cellidi-header-cell {
  background: rgba(0, 0, 0, 0.025);
  border-color: rgba(0, 0, 0, 0.035);
}

#ihfath-checkout-schedule-root .cellidi-header-cell.cellidi-corner-cell-top-left {
  background: rgba(0, 0, 0, 0.055);
  border-width: 0px;
  /*border-right-width: 1px;
  border-right-style: solid;*/
}

#ihfath-checkout-schedule-root .cellidi-header-cell-left {
  border-right: 2px solid #fff;
  background: #fff;
}

#ihfath-checkout-schedule-root .cellidi-header-cell-left.ihfath-cell-checker {
  background: #E6E6E6;
}

#ihfath-checkout-schedule-root .cellidi-header-cell-left span {
  font-weight: normal;
  font-size: 0.75em;
}
