// main: main.scss

$base-table-border: #999999;

.ihfath-body-schedule {
  margin-top: 30px;

  .ihfath-bs-header {
    padding-bottom: 30px;
    border-bottom: 1px solid $base-outline-color;

    .ihfath-input {
      display: inline-block;
      vertical-align: middle;
      line-height: 20px;
      margin-right: 30px;

      input,
      .input-btn,
      select {
        padding: 10px;

        background: $base-bg-idle-color;
        border: 1px solid $base-outline-color;
      }

      select {
        min-width: 200px;
      }

      .input-btn {
        cursor: pointer;
        border-radius: 3px;
      }
    }

    .ihfath-input-nav {
      .ihfath-go-prev-month {
        margin-right: 1rem;
      }

      .input-btn {
        .fa {
          margin-left: 0.5rem;
        }

        &.ihfath-go-prev-month {
          .fa {
            margin-left: 0;
            margin-right: 0.5rem;
          }
        }
      }
    }
  }

  .ihfath-schedule {
    position: relative;
    padding-right: 0px;
    transition: padding-right 350ms cubic-bezier(.03,.35,.38,.96);

    &.ihfath-show-sidebar {
      padding-right: $sidebar-width;
    }

    .ihfath-calendar {
      display: none;

      &.ihfath-focused {
        display: block;
      }

      h3 {
        margin: 0px;
        padding: 30px 0px;

        text-align: center;
        font-weight: normal;
        opacity: 0.75;
      }
    }

    .ihfath-unavailable {
      position: absolute;
      // display: none;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;

      background: #fff;

      .ihfath-text {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        width: 380px;
        height: 180px;
        margin: auto;

        font-size: 26px;
        line-height: 180px;
        background: $base-bg-idle-color;
        text-align: center;
        border-radius: 5px;

        > span {
          display: inline-block;
          vertical-align: middle;

          line-height: 35px;
        }
      }
    }

    .ihfath-sidebar {
      position: absolute;
      top: 120px;
      right: 0px;
      bottom: 0px;
      margin-right: 0px;
      width: $sidebar-width;
      z-index: 100;

      border: 1px solid $base-table-border;
      border-left: 0px;

      // overflow-x: hidden;
      // overflow-y: auto;
      background: $base-bg-fade-color;
      transition: margin-right 350ms cubic-bezier(.03,.35,.38,.96), width 350ms cubic-bezier(.03,.35,.38,.96), right 0ms linear 0ms;

      &.ihfath-hidden {
        display: block !important;
        right: 100000000px;
        // margin-right: -$sidebar-width;
        width: 0px;
        transition: margin-right 350ms cubic-bezier(.03,.35,.38,.96), width 350ms cubic-bezier(.03,.35,.38,.96), right 0ms linear 350ms;
      }

      .ihfath-header-fill {
        position: absolute;
        top: -41px;
        height: 41px;
        left: 0px;
        right: -1px;
        box-sizing: border-box;
        overflow: hidden;

        background: $base-bg-subtle-fade-color;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);

        border-top: 1px solid $base-table-border;
        border-right: 1px solid $base-table-border;

        .ihfath-sidebar-close {
          position: absolute;
          display: block;
          top: 0px;
          bottom: 0px;
          // right: 5px;
          left: $sidebar-width - 30px - 5px;
          margin: auto 0px;
          width: 30px;
          height: 30px;

          line-height: 30px;
          font-size: 18px;
          text-align: center;

          color: rgba(0, 0.25, 0, 0.25);
          cursor: pointer;

          &:hover {
            background: rgba(0, 0, 0, 0.1);
          }
        }
      }

      .ihfath-sidebar-content {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        .ihfath-sidebar-inner {
          width: $sidebar-width;
        }
      }

      .ihfath-sidebar-shadow {
        position: absolute;
        right: 100%;
        top: 0px;
        bottom: 0px;
        width: 50px;
        overflow: hidden;

        pointer-events: none;

        &::before {
          content: "";
          position: absolute;
          left: 100%;
          top: 0px;
          height: 100%;
          width: 20px;

          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
        }
      }
    }
  }
}

// Sidebar components
.ihfath-sidebar-content {
  $sidebar-padding: 10px;

  .ihfath-sidebar-section {
    .ihfath-section-header {
      position: relative;
      padding: 10px $sidebar-padding;

      font-family: Arial;
      opacity: 0.75;
      text-transform: uppercase;
      border-bottom: 1px solid rgba(0, 0, 0, 0.35);

      cursor: pointer;

      &.ihfath-collapsed {
        .fa {
          transform: rotate(-90deg);
        }
      }

      &::after {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;

        opacity: 0.05;
        background: $base-highlight-color;
      }

      $new-content-notifi-width: 18px;
      $new-content-notifi-margin-right: 5px;

      &::before {
        content: "";
        position: relative;
        display: inline-block;
        vertical-align: middle;
        z-index: 10;
        width: $new-content-notifi-width;
        height: 13px;
        margin-right: $new-content-notifi-margin-right;

        background: rgb(255, 20, 5);// $base-success-color;
        border-radius: 7px;
        // border-radius: 100%;
        opacity: 1;

        animation-name: -ihfath-cal-sidebar-new-content;
        animation-delay: 750ms;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }

      @keyframes -ihfath-cal-sidebar-new-content {
        0% {
          opacity: 1;
          width: $new-content-notifi-width;
          height: 13px;
          margin-right: $new-content-notifi-margin-right;
        }

        75% {
          width: $new-content-notifi-width;
          height: 13px;
          margin-right: $new-content-notifi-margin-right;
        }

        100% {
          width: 0px;
          height: 0px;
          margin-right: 0px;
          opacity: 0;
        }
      }

      > * {
        position: relative;
        z-index: 10;
      }
    }

    .ihfath-content {
      background: #fff;
    }

    .ihfath-rows {
      position: relative;

      line-height: 40px;
      font-size: 0px;

      .ihfath-half,
      .ihfath-half-first,
      .ihfath-full {
        &:hover {
          background: $base-bg-fade-color;
        }
      }

      .ihfath-half,
      .ihfath-half-first {
        width: 50%;
      }

      .ihfath-half-first {
        &:hover + .ihfath-half {
          &:after {
            height: 100%;
          }
        }
      }

      .ihfath-half {
        position: relative;

        &:hover {
          &::after {
            height: 100%;
          }
        }

        &::after {
          content: "";
          position: absolute;
          left: 0px;
          top: 50%;
          width: 1px;
          height: 24px;

          background: rgba(0, 0, 0, 0.15);
          transform: translate(0px, -50%);
        }
      }

      .ihfath-full.ihfath-full.ihfath-full {
        display: block;
      }

      // > div:last-child {
      //   .ihfath-half,
      //   .ihfath-half-first {
      //     border-bottom: 0px;
      //   }
      // }

      .ihfath-action {
        display: inline-block;
        vertical-align: top;
        padding: 0px $sidebar-padding;
        box-sizing: border-box;

        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        font-size: 14px;

        // text-align: center;
        cursor: pointer;
      }

      .ihfath-info {
        font-size: 12px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);

        .ihfath-label,
        .ihfath-value {
          display: inline-block;
          vertical-align: baseline;
        }

        .ihfath-label {
          padding-left: $sidebar-padding;
          width: 35%;

          font-weight: bold;
        }

        .ihfath-value {
          padding-right: $sidebar-padding;
        }
      }

      .ihfath-section-header {
        background: $base-bg-fade-color;
        font-size: 12px;
        line-height: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);

        &::after {
          content: unset;
        }

        cursor: default;
      }
    }
  }
}

.ihfath-week h3 {
  position: relative;

  .ihfath-back-to-month {
    position: absolute;
    display: inline-block;
    left: 0px;
    top: 50%;
    transform: translate(0px, -50%);
    margin: auto;
    padding: 10px;

    line-height: 16px;
    font-size: 16px;
    color: #fff;
    background: $base-highlight-color;
    border-radius: 3px;

    cursor: pointer;
  }
}
