// main: main.scss

$base-cell-bg: #E6E6E6;
$base-cell-outmonth-bg: #CCCCCC;
$base-cell-outmonth-bg-darker: #B3B3B3;
$base-table-border: #999999;
$base-table-border-hilight: #3AAFDE; //#5BBFE7;
$base-table-bg-hilight: #BFD9E3;
$cellidi-height: 120px;
$cellidi-week-height: 40px;

div.ihfath-month.ihfath-month.ihfath-month {
  .ihfath-schedule-root {
    border: 1px solid $base-table-border;
  }

  div.cellidi-cell-row.cellidi-cell-row.cellidi-cell-row {
    position: relative;
    height: $cellidi-height;
    cursor: pointer;

    &:hover {
      div.cellidi-cell.cellidi-cell.cellidi-cell {
        border-color: $base-table-border-hilight;
        background: $base-table-bg-hilight;
      }
    }

    &:hover + .cellidi-cell-row {
      div.cellidi-cell.cellidi-cell.cellidi-cell {
        border-top-color: $base-table-border-hilight;
      }
    }

    &:first-child {
      div.cellidi-cell.cellidi-cell.cellidi-cell {
        border-bottom: 0px;
      }
    }
  }

  div.cellidi-cell.cellidi-cell.cellidi-cell {
    position: relative;
    height: $cellidi-height;

    line-height: $cellidi-height - 20px;
    background: $base-cell-bg;
    border-top: 1px solid $base-table-border;
    border-right: 1px solid $base-table-border;

    &:last-child {
      border-right: 0px;
    }

    &.ihfath-cell-out-month {
      background: $base-cell-outmonth-bg-darker !important;
      pointer-events: none !important;
      border-right-color: $base-table-border !important;
    }

    .ihfath-cell-date {
      position: absolute;
      display: inline-block;
      left: 5px;
      top: 5px;

      line-height: 18px;
      font-size: 1.1em;
      opacity: 0.5;
    }
  }
}

.ihfath-schedule.ihfath-show-sidebar {
  div.ihfath-week.ihfath-week.ihfath-week {
    .ihfath-schedule-root {
      border-right: 0px;
    }
  }
}

div.ihfath-week.ihfath-week.ihfath-week {
  // div.cellidi-cell-row {
  //   height: $cellidi-week-height;
  // }

  .ihfath-schedule-root {
    border: 1px solid $base-table-border;
  }

  .cellidi-header-cell-horizontal {
    font-weight: normal;
    font-size: 12px;

    border-right: 1px solid rgba(0, 0, 0, 0.15);
    background: $base-bg-subtle-fade-color;

    &:last-child {
      border-right-width: 0px;
    }
  }

  .cellidi-cell {
    position: relative;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 10px;

    &.ihfath-checker:not(.ihfath-lesson) {
      background: $base-cell-bg;
    }

    &.ihfath-lesson {
      background: $base-cell-outmonth-bg;

      .ihfath-cell-wrap {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        height: $cellidi-week-height;
        line-height: $cellidi-week-height;
        padding: 0px 5px;

        background: $base-highlight-color;
        color: #fff;

        cursor: pointer;
        // cursor: -webkit-grab;
        // cursor: grab;

        .ihfath-cell-text {
          display: inline-block;
          vertical-align: middle;
          line-height: 17px;
        }
      }

      &.ihfath-dur-90 {
        .ihfath-cell-wrap {
          height: 1.5 * $cellidi-week-height;
          line-height: 1.5 * $cellidi-week-height;
        }
      }

      &.ihfath-dur-120 {
        .ihfath-cell-wrap {
          height: 2 * $cellidi-week-height;
          line-height: 2 * $cellidi-week-height;
        }
      }

      .ihfath-dur {
        display: inline-block;
        vertical-align: baseline;
        padding: 2px 4px;

        line-height: 12px;
        border-radius: 2px;
        color: #fff;
        background: $base-success-color;
        font-weight: bold;
      }
    }

    &.ihfath-vacant-cell {
      position: relative;

      &.ihfath-cell-show-selectable {
        cursor: pointer;

        .ihfath-cell-move-selectable {
          display: flex;
        }
      }

      &:hover {
        .ihfath-cell-move-selectable {
          background: rgba(0, 0, 255, 0.2);
        }
      }

      .ihfath-cell-move-selectable {
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;

        $offset: 4px;
        left: $offset;
        top: $offset;
        right: $offset;
        bottom: $offset;

        font-size: 1.25em;
        color: rgba(0, 0, 255, 0.8);

        .fa {
          position: relative;
          left: 1.35rem;
        }
      }
    }
  }
}

.cellidi-cell {
  .ihfath-cell-lessons {
    position: absolute;
    left: 0px;
    top: 0px;
    height: $cellidi-height;
    width: 100%;

    line-height: $cellidi-height;

    .ihfath-cell-lessons-col {
      display: inline-block;
      vertical-align: middle;
      line-height: 20px;
      text-align: right;
      padding: 0px 2px;

      .ihfath-cell-break {}

      .ihfath-cell-lesson {
        display: inline-block;
        margin: 0px 0px;
        padding: 0px;
        overflow: hidden;

        font-size: 10px;
        line-height: 14px;
        background: black;
        color: #fff;
        border-radius: 2px;

        cursor: pointer;

        > span {
          display: inline-block;
          vertical-align: middle;
          padding: 3px;

          &.ihfath-prof {
            background: $base-really-dark-color;
          }
        }
      }
    }
  }
}
