// compressedFilenamePattern: ../adminlessons.css

$base-bg-fade-color: #f9f9f9;
$base-bg-subtle-fade-color: #DBDBDB;
$base-bg-idle-color: #eee;
$base-outline-color: #ccc;
$base-dark-color: #404040;
$base-really-dark-color: #262626;
$base-highlight-color: #1D6EC0;
$base-success-color: #2EC01D;

$sidebar-width: 320px;

@import "skeleton";
@import "header";
@import "body";
@import "calendar";
@import "notifi";
