.ihf-whiteboard-wrap-shell {
  margin-top: 1.3rem;
}

div.ihf-whiteboard-wrap.ihf-whiteboard-wrap {
  position: relative;
  padding: 0px;

  border-top: 1px #ddd solid;
  background: #fff;

  &.ihf-whiteboard-animated {
    transition: left 250ms ease-out, top 250ms ease-out, right 250ms ease-out, bottom 250ms ease-out, width 250ms ease-out;
  }

  &.ihf-whiteboard-fullscreen {
    position: fixed;
    display: block;
    z-index: 100;
    left: 0;
    top: 0;
    box-sizing: border-box;

    border: 0;

    .ihfath-whiteboard-head {
      padding: 0 1.5rem;

      .head-title {
        display: flex;
        align-items: center;

        > span {
          display: none;
        }

        svg {
          display: block;
        }
      }

      .ihfath-ldc-clock.ihfath-ldc-clock.ihfath-ldc-clock {
        display: flex;
      }
    }

    .ihfath-whiteboard {
      position: absolute;
      left: 0;
      right: 0;
      top: 90px;
      bottom: 0;

      .ihfath-whiteboard-embed {
        width: 100%;
        height: 100%;
      }
    }
  }

  > .heading {
    display: flex;
    align-items: center;
    height: 90px;
    margin-bottom: 0;
    width: 100%;

    svg {
      display: none;
      margin-right: 1rem;

      path {
        fill: #666;
      }
    }

    .ihfath-whiteboard-head {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex: 1 0 auto;

      .head-title {
        margin-right: auto;
      }

      // Clock styling
      .ihfath-ldc-clock {
        display: none;
      }

      .ihf-align-right {
        display: flex;
        align-items: center;
        margin-left: auto;
        flex: 0 0 auto;
      }

      .ihfwb-action {
        cursor: pointer;
        padding: 0px 10px;
        margin-left: 1rem;
        flex: 0 0 auto;

        font-weight: normal;

        > span {
          font-size: 0.6em;
          position: relative;
          top: -2px;
          margin-right: 5px;
          opacity: 0.5;
        }

        > .fa {
          margin: 0px;
          margin-left: 0.25rem;
        }
      }
    }
  }
}

.ihf-book-viewer {
  position: fixed;
  display: none;
  z-index: 100;
  right: 0;
  top: 0;
  height: 100%;
  width: 33.333%;

  background: hsl(0%, 0%, 35%);

  &.ihf-book-animated {
    transition: right 250ms ease-out;
  }

  &.ihf-visible {
    display: block;
  }
}

// Clock styling
div.ihfath-ldc-clock.ihfath-ldc-clock {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  $base-width: 220px;
  $cancel-width: 80px;
  width: $base-width;
  height: 43px;

  color: #444;
  border: 1px solid #a9bf04;
  background: rgba(0, 0, 0, 0.01);
  // color: #fff;
  // background: #a9bf04;
  border-radius: 3px;
  line-height: 1.5;

  &.ihfath-ldc-state-cancelled {
    display: none;
  }

  &.ihfath-ldc-state-cancellable {
    width: $base-width + ($cancel-width / 1.5);

    .ihfath-ldc-col-cancel {
      display: flex;
    }
  }

  &.ihfath-ldc-state-finished {
    > .ihfath-ldc-col {
      display: none;
    }

    .ihfath-ldc-finished {
      display: flex;
    }
  }

  .ihfath-ldc-col {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 0.75rem;

    &:not(:first-child) {
      border-left: 1px solid #a9bf04;
    }
  }

  .ihfath-ldc-label {
    font-size: 1rem;
  }

  .ihfath-ldc-value {
    text-transform: uppercase;
    font-size: 1.1rem;
    color: #a9bf04;
  }

  .ihfath-ldc-col-cancel {
    display: none;
    width: $cancel-width;
    flex-flow: row nowrap;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    padding: 0;

    border-radius: 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
    background: #a9bf04;

    cursor: pointer;

    .fa {
      margin-right: 0.35rem;
      font-size: 1.4rem;
    }
  }

  .ihfath-ldc-finished {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;

    font-size: 1.45rem;
  }
}

div.container.ihfath-ldc-clock-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .ihfath-ldc-clock {
    margin-left: auto;
  }
}
