// compressedFilenamePattern: work-hours.css

// Defaults
$blk-color: #797A80;
$shade-color: #E6E6E6; //#CCCCCC;
// $blk-color: #E6E6E6;
// $shade-color: #ACB0BF; //#CCCCCC;
$hilite-color: #D90100;
$def-anim: 450ms cubic-bezier(.33,.04,.14,.99);
$def-fade-anim: 450ms ease-out;

// Define variables
$block-size: 65px;
$btn-size: 50px;
$border-radius: 3px;

.ihfathwo-center {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}

// Styles
.ihfath-wo-main {
  position: fixed;
  left: 0px;
  top: 50%;
  color: #404040;
  
  font-family: Arial;
  font-size: 12px;
  
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  background: $blk-color;
  
  transform: translate(-$block-size, -50%);
  opacity: 0;
  transition: opacity $def-anim, transform $def-anim;
  
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  
  &.ihfathwo-visible {
    opacity: 1;
    transform: translate(0px, -50%);
  }
  
  .ihfathwo-col {
    position: relative;
    width: $block-size;
    height: $block-size;
  }
  
  .ihfathwo-rec-indicator {
    position: absolute;
    right: 2.5px;
    bottom: 2.5px;
    width: 5px;
    height: 5px;
    
    background: $hilite-color;
    opacity: 0;
    border-radius: 100%;
    
    &.ihfathwo-recording {
      animation-name: ihfathwo-rec-pulse;
      animation-duration: 2s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes ihfathwo-rec-pulse {
  0% {
    opacity: 0;
  }
  
  50% {
    opacity: 0.75;
  }
  
  100% {
    opacity: 0;
  }
}

@keyframes ihfathwo-load-spin {
  0% {
    transform: scale(0.65, 0.65) rotate(0deg);
  }
    
  100% {
    transform: scale(0.65, 0.65) rotate(360deg);
  }
}

// Start/stop button
.ihfathwo-toggle-btn {
  position: absolute;
  @extend .ihfathwo-center;
  width: $btn-size;
  height: $btn-size;
  border-radius: 100%;
  
  background: $hilite-color;
  transition: background $def-fade-anim;
  cursor: pointer;
  
  &.ihfathwo-recording {
    background: $shade-color;
    
    svg path {
      fill: $hilite-color;
      
      // Show/hide buttons
      &.ihfathwo-start-rec {
        opacity: 0;
      }
      
      &.ihfathwo-stop-rec {
        opacity: 1;
      }
    }
  }
  
  &.ihfathwo-loading {
    svg {
      &.ihfathwo-load-spinner {
        animation-name: ihfathwo-load-spin;
        animation-duration: 0.75s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        
        path {
          opacity: 1;
        }
      }
      
      path {
        &.ihfathwo-start-rec,
        &.ihfathwo-stop-rec {
          opacity: 0 !important;
        }
      }
    }
  }
  
  &:hover {
    svg {
      opacity: 1;
    }
  }
  
  svg {
    position: absolute;
    @extend .ihfathwo-center;
    
    opacity: 0.85;
    transform: scale(0.65, 0.65);
    transition: opacity $def-fade-anim;
    
    path {
      fill: $shade-color;
      opacity: 0;
      stroke: none;
      transition: fill $def-fade-anim;
      
      // Show/hide buttons
      &.ihfathwo-start-rec {
        opacity: 1;
        transform: translate(4px, 0px);
      }
      
      &.ihfathwo-stop-rec {
        opacity: 0;
      }
    }
  }
}

.ihfathwo-time {
  background: $shade-color;
  height: $block-size / 2 !important;
  line-height: $block-size / 2;
  text-align: center;
  
  > div {
    display: none;
    vertical-align: baseline;
    
    &.ihfathwo-visible {
      display: inline-block;
    }
  }
  
  .ihfathwo-val {
    font-weight: bold;
  }
  
  .ihfathwo-unit {
    font-size: 0.75em;
    opacity: 0.75;
  }
}
